@import "./imedgin/styles/variable.css";
@import "./imedgin/styles/header.css";
@import "./imedgin/styles/breadcrumps.css";
@import "./imedgin/styles/main.css";
body {
  font-family: "Montserrat Alternates", sans-serif;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}
